html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f7fb;
}

#root {
  min-height: 100%;
}

.ant-table {
  background: transparent;
}

.ant-table-container {
  border-radius: 14px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background: #fafafa;
  font-weight: 600;
}
